.contacts__wrapper {
  .container;
}

.contacts__caption {
  margin: 0 auto;
  padding-top: 40px;
  font-size: 24px;
  line-height: 30px;
  color: #283645;
  font-weight: 300;
  text-align: center;

  @media @tablet {
    width: 450px;
    padding-top: 47px;
    font-size: 40px;
    line-height: 48px;
  }

  @media @desktop {
    width: 570px;
    padding-top: 59px;
    font-size: 50px;
    line-height: 60px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  padding: 35px 0 10px 0;
  text-align: center;

  @media @tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 25px 0;
  }

  @media @desktop {
    justify-content: space-between;
  }
}

.contacts__item {
  margin-bottom: 22px;

  @media @tablet {
    box-sizing: border-box;
    width: 300px;
    margin: 45px 0 0 0;
    padding: 0 10px 0 10px;
  }

  @media @desktop {
    width: 290px;
    margin: 56px 0 0 0;
  }
}

@media @tablet {
  .contacts__item--phone {
    padding-right: 30px;
  }
}

@media @desktop {
  .contacts__item--phone {
    padding-right: 0;
  }
}

@media @tablet {
  .contacts__item--email {
    padding-left: 30px;
  }
}

@media @desktop {
  .contacts__item--email {
    order: 1;
    padding-left: 0;
  }
}

.contacts__item-desc {
  font-size: 18px;
  line-height: 22px;
  color: #283645;
  font-weight: bold;
}

.contacts__item-detail {
  margin: 0;
  font-size: 24px;
  line-height: 33px;
  color: #d22856;
  font-weight: 300;

  @media @tablet {
    margin-top: 3px;
    line-height: 31px;
  }

  @media @desktop {
    margin-top: 24px;
    line-height: 29px;
  }
}

.contacts__item-link {
  font-size: 24px;
  line-height: 33px;
  color: #d22856;
  font-weight: 300;
  text-decoration: none;

  &:hover {
    color: #283645;
    text-decoration: underline;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
    text-decoration: none;
  }
}

.contacts__map {
  position: relative;
  height: 200px;
  background-color: #c5c2bf;

  @media @tablet {
    height: 380px;
  }

  @media @desktop {
    height: 500px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 50%;
    height: 34px;
    left: 0;
    background: linear-gradient(to right top, transparent 50%, #ffffff 50%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 50%;
    height: 34px;
    right: 0;
    background: linear-gradient(to left top, transparent 50%, #ffffff 50%);
  }
}

@media @tablet {
  .contacts__map::before,
  .contacts__map::after {
    height: 73px;
  }
}

@media @desktop {
  .contacts__map::before,
  .contacts__map::after {
    height: 100px;
  }
}