@media @mobile {
	.page-footer {
		display: none;
	}
}

@media @tablet {
	.page-footer__wrapper {
		.container;
	}

	.page-footer__social {
		float: left;
		margin-left: 70px;
		text-align: center;
	}

	.social-links {
		width: 177px;
	}

	.social-link {
		display: inline-block;
	}

	.page-footer--shown {
		display: block;
	}

	.page-footer__copyright {
		float: right;
	}
}

.page-footer__logo {
	float: left;
	width: 150px;
	height: 50px;
}

.page-footer__logo {
	display: block;
}