@media tablet {
	.promo__container {
		width: 300px;
	}
}

.promo__caption {
	text-align: center;
}

@media @mobile {
	.promo__caption {
		display: none;
	}
}

.download__btn {
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

.download__apps-list {
  .clearfix;
  width: 210px;
}

.download__link {
  display: block;
  width: 33.3%;
  text-align: center;
}

.download__link--apple,
.download__link--android {
  float: left;
}

.download__link--windows {
	float: right;
}

.download__desc {
	text-align: center;
}

@media @tablet {
	.download {
		width: 300px;
	}
}